.new-text {
    text-align: center;
    color: red;
    margin-top: 100px;
}

.title-bold {
    font-weight: bold;
}

.title-normal {
    color:rgb(243, 97, 97);
    font-weight: normal;
}

.text-link {
    color: rgb(53, 53, 252);
}