p {
    font-family: Montserrat;
    text-align: center;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 100px;
}

.subtitle {
    font-weight: bold;
}

.underlined {
    
}